.blog-content {
  @apply text-base;

  p {
    @apply my-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply ml-1;
    a::before,
    a::after {
      display: none;
    }
  }

  h1 {
    @apply text-2xl md:text-4xl font-bold  mt-12 mb-8;
  }

  h2 {
    @apply text-xl md:text-3xl font-bold  mt-12 mb-6;
  }

  h3 {
    @apply text-lg md:text-2xl font-bold  mt-10 mb-4;
  }

  h4 {
    @apply text-base md:text-xl font-bold  mt-8 mb-4;
  }

  h5 {
    @apply text-sm md:text-lg font-bold  mt-6 mb-3;
  }

  h6 {
    @apply text-xs md:text-base font-bold  mt-6 mb-3;
  }

  a {
    position: relative;
    display: inline-block;
    isolation: isolate;
    text-decoration: none;
    @apply text-[#4e0d0b] font-semibold cursor-pointer;
  }

  a::before,
  a::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.25s ease;
    z-index: 0;
  }

  a::before {
    background-color: #eeccbb;
    width: 100%;
  }

  a::after {
    width: 0;
    background-color: #4e0d0b;
  }

  a:hover::after {
    width: 100%;
  }

  a span {
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #ffffff 50%, #4e0d0b 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.25s ease;
  }

  a:hover span {
    background-position: 0 0;
  }

  code {
    @apply px-2 py-1 text-sm;
  }

  pre code {
    @apply px-0 py-0 bg-transparent text-sm;
  }

  img {
    @apply w-full h-auto;
  }

  ul,
  ol {
    @apply my-3;
    li {
      @apply mb-2;
    }
  }

  .contains-task-list {
    list-style: none;
    padding: 0;
  }

  ul {
    @apply list-disc pl-8;
  }

  ol {
    @apply list-decimal pl-4;
  }

  blockquote {
    @apply border-l-4 border-[#ff5349] bg-[#fcf4f0] pl-6 py-3 my-8 italic p-6;
  }

  hr {
    @apply my-12 border-[#4e0d0b];
  }

  table {
    @apply w-full border-collapse my-8 overflow-hidden;
    th,
    td {
      @apply border border-[#4e0d0b]/20 p-3;
    }
    th {
      @apply bg-[#fcf4f0]  font-bold;
    }
    tr:nth-child(even) {
      @apply bg-[#faf8f4];
    }
  }

  img {
    @apply mx-2 my-4;
  }
}
