@import "tailwindcss";
@import "./css/blog.css";

@font-face {
  font-family: "Fustat";
  src: url("./fonts/Fustat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Intel";
  src: url("./fonts/IntelOneMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lilex";
  src: url("./fonts/Lilex[wght].ttf");
}

@theme static {
  --background: hsl(210, 10%, 95%);
  --foreground: hsl(210, 10%, 10%);
}

@layer base {
  :root {
    --background: 210, 10%, 95%;
    --foreground: 210, 10%, 10%;
    --font-sans: "Fustat", sans-serif;
    --font-mono: "Lilex", monospace;
  }

  body {
    @apply bg-[#fffdf6] font-[Fustat] text-[#010101];
  }

  #navigation-items {
    position: relative;
    --corner-size: 8px;
    --corner-thickness: 2px;
    background-image:
      linear-gradient(#4e0d0b, #4e0d0b), linear-gradient(#4e0d0b, #4e0d0b),
      linear-gradient(#4e0d0b, #4e0d0b), linear-gradient(#4e0d0b, #4e0d0b),
      linear-gradient(#4e0d0b, #4e0d0b), linear-gradient(#4e0d0b, #4e0d0b),
      linear-gradient(#4e0d0b, #4e0d0b), linear-gradient(#4e0d0b, #4e0d0b);
    background-position:
      top left,
      top left,
      top right,
      top right,
      bottom left,
      bottom left,
      bottom right,
      bottom right;
    background-size:
      var(--corner-thickness) var(--corner-size),
      var(--corner-size) var(--corner-thickness),
      var(--corner-thickness) var(--corner-size),
      var(--corner-size) var(--corner-thickness),
      var(--corner-thickness) var(--corner-size),
      var(--corner-size) var(--corner-thickness),
      var(--corner-thickness) var(--corner-size),
      var(--corner-size) var(--corner-thickness);
    background-repeat: no-repeat;
  }

  #navigation-items-bottom {
    position: relative;
    --corner-size: 8px;
    --corner-thickness: 2px;
    background-image:
      linear-gradient(#4e0d0b, #4e0d0b), linear-gradient(#4e0d0b, #4e0d0b),
      linear-gradient(#4e0d0b, #4e0d0b), linear-gradient(#4e0d0b, #4e0d0b);
    background-position:
      bottom left,
      bottom left,
      bottom right,
      bottom right;
    background-size:
      var(--corner-thickness) var(--corner-size),
      var(--corner-size) var(--corner-thickness),
      var(--corner-thickness) var(--corner-size),
      var(--corner-size) var(--corner-thickness);
    background-repeat: no-repeat;
  }

  #navigation-top-left-bottom-right {
    position: relative;
    --corner-size: 8px;
    --corner-thickness: 2px;
    background-image:
      linear-gradient(#4e0d0b, #4e0d0b), linear-gradient(#4e0d0b, #4e0d0b),
      linear-gradient(#4e0d0b, #4e0d0b), linear-gradient(#4e0d0b, #4e0d0b);
    background-position:
      top left,
      top left,
      bottom right,
      bottom right;
    background-size:
      var(--corner-thickness) var(--corner-size),
      var(--corner-size) var(--corner-thickness),
      var(--corner-thickness) var(--corner-size),
      var(--corner-size) var(--corner-thickness);
    background-repeat: no-repeat;
  }

  .no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
  }

  ::-moz-selection,
  ::selection {
    @apply text-[#ffffff] bg-[#4e0d0b];
  }

  .negative {
    @apply text-[#ffffff] bg-[#4e0d0b];
  }

  .negative::-moz-selection,
  .negative::selection {
    @apply text-[#4e0d0b] bg-[#ffffff];
    * {
      @apply text-[#4e0d0b] bg-[#ffffff];
    }
  }

  .link {
    position: relative;
    display: inline-block;
    isolation: isolate;
    text-decoration: none;
  }

  .link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #4e0d0b;
    transition: width 0.25s ease;
    z-index: 0;
  }

  .link:hover::before {
    width: 100%;
  }

  .link span {
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #ffffff 50%, #4e0d0b 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.25s ease;
  }

  .link:hover span {
    background-position: 0 0;
  }
  .link-vertical {
    position: relative;
    text-decoration: none;
    overflow: hidden;
  }

  .link-vertical::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #4e0d0b;
    transition: height 0.25s ease;
    z-index: 0;
  }

  .link-vertical:hover::before {
    height: 100%;
  }

  .link-vertical span {
    position: relative;
    z-index: 1;
    transition: color 0.25s ease;
  }

  .link-vertical:hover span {
    color: #ffffff;
  }
}
